<?xml version="1.0"?>

<routes>
	<route0>
		<id>
			1
		</id>
		<name>
			dsfg
		</name>
		<coordinates>
			<x>
				2345.0
			</x>
			<y>
				234.0
			</y>
		</coordinates>
		<creationDate>
			0003-02-14T09:54:02.308Z
		</creationDate>
		<distance>
			234
		</distance>
	</route0>
	<route1>
		<id>
			3
		</id>
		<name>
			null
		</name>
		<coordinates>
			<x>
				1345.0
			</x>
			<y>
				5134.0
			</y>
		</coordinates>
		<creationDate>
			2023-03-01T12:13:30.327Z
		</creationDate>
		<from>
			<x>
				3541.0
			</x>
			<y>
				345
			</y>
			<z>
				3415
			</z>
			<name>
				453
			</name>
		</from>
		<distance>
			435
		</distance>
	</route1>
	<route2>
		<id>
			2
		</id>
		<name>
			execute_script
		</name>
		<coordinates>
			<x>
				235.0
			</x>
			<y>
				6345.0
			</y>
		</coordinates>
		<creationDate>
			2023-02-20T21:24:53.532Z
		</creationDate>
		<from>
			<x>
				23.0
			</x>
			<y>
				56
			</y>
			<z>
				23456
			</z>
			<name>
				24356
			</name>
		</from>
		<to>
			<x>
				3245.0
			</x>
			<y>
				2345
			</y>
			<z>
				423
			</z>
			<name>
				2345
			</name>
		</to>
		<distance>
			6245
		</distance>
	</route2>
</routes>
